
<div class="axil-author-area axil-author-banner bg-color-grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="about-author">
					<div class="media">
						<div class="thumbnail">
							<a href="#">
								<img src="/img/DefaultUserImage.png" alt="Author Images">
							</a>
						</div>
						<div class="media-body">
							<div class="author-info">
								<h1 class="title"><a href="#">Khala Wright</a></h1>
								<span class="b3 subtitle">Web Developer</span>
							</div>
							<div class="content">
								<p class="b1 description">
									Aiming to join an established organization as a Web Developer where I can contribute my skills and experience to the team's success.
									<ul class="social-share-transparent size-md">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="far fa-envelope"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

